body{
   margin: auto;
   max-width: 1080px;
}

.country{
   width: 30%;
   display: inline-block;
   background: rgba(208, 255, 0, 0.568);
   padding: 10px;
   border-radius: 15px;
   margin: 5px;
   border: 2px solid rgba(133, 6, 252, 0.3);
   height: 100%;
}

#cDeatail{
   position: sticky;
   top: 0;
   background: rgba(69, 15, 155, 0.514);
   display: flex;
   justify-content: center;
}